body {
  background-image:url(../images/mutant.jpg) !important;
  position: relative;
  background-size: contain;
  font-family: circular-book;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@font-face {
  src: url(/css/circular/lineto-circular-book.woff);
  font-family: circular-book;
}
body.invert {
  -webkit-filter: invert(1);
}
body:before {
  content: '';
  position: absolute;
  display: block;
  width: 5vw;
  height: 5vw;
  top: -2.5vw;
  left: 20vw;
  /*background: #000;*/
  z-index: 2;
  border-radius: 100%;
  /*border: 2px solid white;*/
  /*-webkit-animation: jamming 15s ease-in-out infinite;
          animation: jamming 15s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;*/
}
@-webkit-keyframes jamming {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes jamming {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
body:after {
  content: '';
  position: absolute;
  display: block;
  width: 5vw;
  height: 5vw;
  top: -2.5vw;
  left: auto;
  right: 10vw;
  /*background: black;*/
  z-index: 2;
  border-radius: 100%;
  /*border: 2px solid black;*/
  /*-webkit-animation: jamming 10s ease-in-out infinite;
          animation: jamming 10s ease-in-out infinite;*/
}
body .wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  background-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "circular-book";
  position: relative;
  z-index: 2;
}

@media all and (max-width:375px) {
  body .wrapper {
    font-size: 13px;
  }

  body .wrapper .container #contact_form .btnwrap {
    margin: 130px auto 20px !important;
  }
}

h1:after {
    top: 30% !important;
}

body .wrapper:before, body .wrapper:after {
  content: '';
  position: absolute;
  width: 60vw;
  height: 60vw;
  top: 50%;
  left: -10%;
  min-height: 700px;
  min-width: 700px;
  /*background:url(../images/original-blk.jpg) !important;*/
  z-index: -1;
  border-radius: 100%;
  box-shadow: -20px -600px 0px -400px #000, -20px -600px 0px -398px white;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
body .wrapper:after {
  left: auto;
  right: -10%;
  height: 50vw;
  width: 50vw;
  box-shadow: -80px -500px 0px -350px #000, -80px -500px 0px -348px white;
}
body .wrapper .container {
  width: calc(100% - 10vw);
  max-width: 620px;
  min-height: 580px;
  background: #000;
  border: 2px solid white;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body .wrapper .container.bgchange {
  background: #000;
  background-size: 30px;
}
body .wrapper .container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2.5%;
  top: 2.5%;
  border: 2px solid white;
  z-index: -3;
  background: #000;
  background-size: 10px;
  background-position: 10% 5%;
  -webkit-transform: translateZ(-1em);
          transform: translateZ(-1em);
}
body .wrapper .container .address {
  position: absolute;
  display: block;
  right: -10vw;
  top: 10%;
  z-index: 4;
  text-align: center;
  background: #000;
  color: white;
  min-height: 150px;
  width: 10vw;
  height: 10vw;
  font-weight: 900;
  min-width: 150px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(1em);
          transform: translateZ(1em);
  border: 2px solid white;
}
body .wrapper .container .address:nth-of-type(2) {
  background: #000;
  top: 50%;
}
body .wrapper .container .address:nth-of-type(2) p {
  line-height: 2;
}
body .wrapper .container .address:nth-of-type(2):after {
  background: #000;
}
body .wrapper .container .address:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7.5%;
  left: -10%;
  background: #000;
  border: 2px solid white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-1em);
          transform: translateZ(-1em);
}
body .wrapper .container .address p {
  display: block;
  position: absolute;
  width: 90%;
  margin: 0px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body .wrapper .container h1 {
  font-size: 2em;
  font-weight: 900;
  padding-top: 2%;
  padding-left: .5%;
  margin: 0px;
  color: white;
  position: absolute;
  top: -50px;
  left: 40.5%;
  z-index: 1;
}
body .wrapper .container h1:before, body .wrapper .container h1:after {
  content: '';
  position: absolute;
  background: black;
  z-index: -1;
  height: 100%;
  width: 110%;
  top: 10%;
  left: -5%;
  border: 2px solid white;
}
body .wrapper .container h1:after {
  left: 0;
  top: 65%;
  z-index: -2;
  background: #000;
}
body .wrapper .container .pen {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -5%;
  top: -10%;
  padding: 1em;
  background: url("../images/UL.png"), #000;
  border-radius: 50%;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}
body .wrapper .container .pen:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 5%;
  background: #000;
  border: 2px solid white;
  border-radius: 100%;
  z-index: -1;
}
body .wrapper .container .shrink {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
body .wrapper .container .thanks {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: scaleY(0) translateX(-50%) translateY(-50%) translateZ(2em);
  transform: scaleY(0) translateX(-50%) translateY(-50%) translateZ(2em);
  font-size: 1.5em;
  background: #000;
  padding: 0.5em;
  text-align: center;
  border: 2px solid white;
}
body .wrapper .container .thanks:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  border: 2px solid white;
  left: -5%;
  top: 20%;
  -webkit-transform: translateZ(-1em);
          transform: translateZ(-1em);
}
body .wrapper .container .thanks.reveal {
  -webkit-transform: scaleY(1) translateX(-50%) translateY(-50%) translateZ(2em);
          transform: scaleY(1) translateX(-50%) translateY(-50%) translateZ(2em);
}
body .wrapper .container .thanks p {
  margin: 0px;
  display: inline-block;
  color: white;
}
body .wrapper .container .thanks span {
  display: block;
  font-size: 1.25em;
  color: #000;
  font-weight: 100;
}
body .wrapper .container #contact_form {
  width: 90%;
  display: block;
  margin: 10% auto 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body .wrapper .container #contact_form label {
  color: white;
  font-weight: 700;
}
body .wrapper .container #contact_form input[type="text"], body .wrapper .container #contact_form input[type="textarea"] {
  width: 93%;
  position: relative;
  background: transparent;
  border: 0px solid;
  border-bottom: 2px solid white;
  margin: 5px auto 55px;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 1.5em;
  font-family: "circular-book";
  padding: 2.5px 0px;
  resize: none;
}
body .wrapper .container #contact_form input[type="text"]:focus, body .wrapper .container #contact_form input[type="textarea"]:focus {
  outline: none;
  -webkit-animation: colorshift 4s linear infinite;
          animation: colorshift 4s linear infinite;
}
body .wrapper .container #contact_form input[type="submit"] {
  background: transparent;
  border: 1px solid white;
  max-width: 200px;
  font-size: 1.25em;
  color: white;
  display: block;
  padding: 1em;
  font-weight: 700;
  text-shadow: none;
  background: #000;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body .wrapper .container #contact_form input[type="submit"]:hover {
  background: black;
  color: white;
  border: 1px solid white;
}
body .wrapper .container #contact_form .btnwrap {
  display: table;
  margin: 10px auto 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: -10px 10px 0px -5px white;
  border: 2px solid black;
}
body .wrapper .container #contact_form .btnwrap:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  box-shadow: 10px 10px 0px -5px white;
}
body .wrapper .container #contact_form .btnwrap:before {
  content: '';
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 500%;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%232a3088%22%20d%3D%22M256%2C187.7c-37.6%2C0-68.3%2C30.6-68.3%2C68.3s30.6%2C68.3%2C68.3%2C68.3s68.3-30.6%2C68.3-68.3S293.6%2C187.7%2C256%2C187.7z%22%2F%3E%3C%2Fsvg%3E%0A"), #000;
  background-size: 10px;
  z-index: -1;
  /*-webkit-animation: jammin 5s ease-in-out infinite;
          animation: jammin 5s ease-in-out infinite;*/
}
/*@-webkit-keyframes jammin {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes jammin {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 10px;
  font-family: "circular-book";

}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  font-size: 10px;
  font-family: "circular-book";


}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-size: 10px;
  font-family: "circular-book";


}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
  font-size: 10px;
  font-family: "circular-book";
}

body .wrapper .inputwrap {
  display: table;
  width: 100%;
  /* padding-left: 10px; */
  height: 100%;
  position: relative;
}
body .wrapper .inputwrap .bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  top: 5%;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
body .wrapper .inputwrap input[type=text]:focus ~ .bar, body .wrapper .inputwrap input[type=textarea]:focus ~ .bar {
  background: #000;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

a {
  color: white;
}
