h2 {
    margin-top: 25;
}

.viewport {
    -webkit-perspective: 1600px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.85,0.85);
    -moz-perspective: 1600px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.85,0.85);
    perspective: 1600px;
    perspective-origin: 50% 200px;
    transform: scale(0.85,0.85);
}

.cube {
    position: relative;
    margin: 10px auto;
    height: 450px;
    width: 450px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

.cube h2 {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}

.cube a {
    color: #fff;
}

.cube > div {
    position: absolute;
    height: 450px;
    width: 450px;
    padding: none;
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Inconsolata',;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    color: #fff;
    border: 6px solid #fff;
    border-radius: 0px;
    overflow:hidden;
    
}

.cube > div:first-child  {
    -webkit-transform: rotateX(90deg) translateZ(225px);
    -moz-transform: rotateX(90deg) translateZ(225px);
    transform: rotateX(90deg) translateZ(225px);
}

.cube > div:nth-child(2) {
    -webkit-transform: translateZ(225px);
    -moz-transform: translateZ(225px);
    transform: translateZ(225px);
}

.cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(225px);
    -moz-transform: rotateY(90deg) translateZ(225px);
    transform: rotateY(90deg) translateZ(225px);
}

.cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(225px);
    -moz-transform: rotateY(180deg) translateZ(225px);
    transform: rotateY(180deg) translateZ(225px);
}

.cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(225px);
    -moz-transform: rotateY(-90deg) translateZ(225px);
    transform: rotateY(-90deg) translateZ(225px);
}


.cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(0deg) translateZ(225px);
    -moz-transform: rotateX(-90deg) rotate(0deg) translateZ(225px);
    transform: rotateX(-90deg) rotate(0deg) translateZ(225px);
}

object {
    opacity:0;
}

object:hover {
    opacity:0;
}

body {
    background-color: #000000;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn {
  display:block;
  font-family: Inconsolata;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 6px 13px 6px 13px;
  text-decoration: none;
}

